# Demo for Problem 2

#### Prepare Environment

**1. Install dotenv**

**2. Ensure you populate .env (use examples from .env.sample):**

   ```
   API_URL=https://xecdapi.xe.com/v1/convert_from/
   USERNAME=username
   PASSWORD=password
   ```

In [9]:
!pip install python-dotenv -q

### Run the script

In [7]:
!python currency_data.py --manual

INFO:root:Starting the data fetch and save process.
INFO:root:Database table 'currency_data' created or exists already.
INFO:root:Fetching data for currencies ...
INFO:root:Data fetched. Inserting into the database.
INFO:root:Data insertion complete and database connection closed.

### Inspect the fetched data

In [8]:
import sqlite3
import pandas as pd

connection = sqlite3.connect('currency_data.db')

query = 'SELECT * FROM currency_data'
results = pd.read_sql_query(query, connection)
connection.close()
results

,timestamp,currency_from,USD_to_currency_rate,currency_to_USD_rate,currency_to
0,2024-01-18T00:00:00Z,USD,859.063508,0.001164,NGN
1,2024-01-18T00:00:00Z,USD,11.994284,0.083373,GHS
2,2024-01-18T00:00:00Z,USD,159.542385,0.006268,KES
3,2024-01-18T00:00:00Z,USD,3811.628546,0.000262,UGX
4,2024-01-18T00:00:00Z,USD,9.982448,0.100176,MAD
5,2024-01-18T00:00:00Z,USD,602.614821,0.001659,XOF
6,2024-01-18T00:00:00Z,USD,30.896437,0.032366,EGP